<div class="container">
	<div class="card users-download-card p-4 m-4">
		<h1 class="text-center">Base de datos <small>(<%= User.all.count %> usuarios)</small></h1>
		<div class="text-center">
			<%= link_to 'Descargar Excel', users_path(format: :xlsx), class: 'btn btn-primary mt-4' %>
		</div>
		<div class="text-center"> 
			<%= link_to('Cerrar Session', destroy_account_session_path, method: :delete, class: 'btn btn-secondary mt-4') %>        
		</div>
	</div>
</div>